<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title><%= title %></title>
        <meta name="author" content="Collin Rudkin">
        <meta name="description" content="Weatherscheme is a simple app that generates a dynamic
        color scheme based on current weather conditions.">
        <meta name="keywords" content="weather, conditions, color, app, local, dynamic, demo">
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Raleway:400,700" rel="stylesheet">
        <link rel='shortcut icon' href='/images/drop.ico' type='image/x-icon'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>