<% include header %>
    <div class="main colFlex">
        <div class="mast">
            <span id="mainHead">Weatherscheme</span>
        </div>
        <div class="page colFlex">
            <div class="inputModule colFlex" id="location">
                <label for="locationInput">Enter a location:</label>
                <input type="text" class="medInput" id="locationInput" placeholder="Ex.: Denver, CO" autocomplete="off">
                <button class="button" id="submitButton">Get scheme</button>
            </div>
            <div class="iconDesc" id="description"></div>
            <div class="icon" id="iconPlace"></div>
            <div class="conditions">
                <span class="colFlex" id="conditionsReport"></span>
            </div>
        </div>
        <div class="smallBadge" id="attribution">
            <span>Powered by DarkSky</span>
        </div>
        <div class="gradient"></div>
    </div>
    <script src="/javascripts/primary.js"></script>
<% include footer %>
