<% include header %>
    <div class="main">
        <div class="mast">
            <span id="mainHead">Weatherscheme</span>
        </div>
        <div class="page">
            <div id="location">
                <label for="locationInput">Enter coordinates:</label>
                <input type="text" id="locationInput" placeholder="Ex.: 40.016457, -105.285884" autocomplete="off">
                <button class="button" id="submitButton">Get scheme</button>
            </div>
        </div>
    </div>
    <script src="/javascripts/primary.js"></script>
<% include footer %>
